@font-face {
    font-family: Abel;
    src: url(Abel-Regular.ttf);
}

body {
	margin: auto;
}

.container {
	position: relative;
	top: 40%;
	font-size: 1.5rem;
	text-align: center;
}

.question p {
	font-size: 1.3rem;
}

.question input.number{
	font-size: 1.5rem;
	width: 60px;
	text-align: right;
}

.question select {
	font-size: 1.5rem;
	width: auto;
	min-width: 120px;
	padding: 0 10px;
	padding-right: 1rem
}

.next {
	display: none;
}

.container button {
	margin: 1rem;
	font-size: 1.3rem;
}

.container button#next {
	margin: 1rem auto;
	display: block;
	padding: 0.75rem 3rem;
}

label {
	cursor: default;
}

label.birthday {
	color: red;
}

#countdown {
	display: none;
	position: relative;
	top: 40%;
	width: 308px;
	margin: auto;
	font-size: 1.5rem;
	text-align: left;
	font-family: 'Abel';
	text-transform: uppercase;
}

#countdown #right {
	display: inline-block;
	vertical-align: top;
	font-size: 2.5rem;
	font-weight: 400;
}
#countdown #left {
	display: inline-block;
	font-size: 6.5rem;
	vertical-align: top;
	font-weight: 600;
	line-height: 1;
}

#countdown #desc{
	text-align: left;
	width: 295px;
	margin: auto;
	line-height: 0.8;
}

#countdown #desc a:hover{
	color: #007095;;
}

#countdown #desc a{
	color: #008cba;
	letter-spacing: -0.5px;
	font-weight: 400;
	font-size: 1.1rem;
}

.more {
	position: fixed;
	top: -259px;
	right: 2rem;
	padding: 1rem;
	padding-bottom: 0.2rem;
	border: lightgrey dashed thin;
	border-top: none;
	background-color: white;
	width: 250px;
}

.more p {
	font-size: 0.9rem;
}

.more a {
	color: #008cba;
	font-weight: bold;
	font-style: italic;

}

.more a:hover {
	color: #007095;
}

.more #ast {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-style: normal;
}

.more #min {
	float:right;
}
